<div class="dialog-title">
    <h2 mat-dialog-title>Report</h2>
    <a class="download-admin-report" target="_blank" [href]="reportLink"><mat-icon>launch</mat-icon></a>
    <mat-icon (click)="dismiss()">close</mat-icon>
</div>

<mat-dialog-content class="admin-report">

    <iframe [src]="reportLink"></iframe>

 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>