.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:0px;
        right:0px;
    }
    
    

    .download-admin-report{
        mat-icon{
right: 40px;
    color:#cc2d43;
        }
    }    
    
    
}




.admin-report{

    
    iframe{
        width: 810px;
        max-width:100%;
        max-height:100%;
        height: 600px;
        border: none;
        margin: 0 auto;
        display: block;
    }
    
}