<div class="dialog-title">
    <h2 mat-dialog-title>Edit Details</h2>
    <mat-icon (click)="dismiss()">close</mat-icon>
</div>

<mat-dialog-content class="edit-user-details">

    <mat-form-field>
        <input matInput name="first_name" placeholder="First Name" [(ngModel)]="user.first_name" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput name="last_name" placeholder="Last Name" [(ngModel)]="user.last_name" required> 
    </mat-form-field>   
    
    <mat-form-field>
        <input matInput name="email" placeholder="Email" [(ngModel)]="user.email" required> 
    </mat-form-field>      


    <mat-form-field>
        <input matInput name="group" placeholder="Group" [(ngModel)]="user.group" required>
    </mat-form-field>  

    <mat-form-field>
        <input matInput name="postcode" placeholder="Post Code" [(ngModel)]="user.postcode" required>
    </mat-form-field>   
 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="save()" color="primary">Save</button>
</mat-dialog-actions>