<div class="stats">
    
    
    <div class="stats__loading" *ngIf="loading">
        <mat-spinner class='stats__loading__spinner' diameter="40" mode="indeterminate" color="primary"></mat-spinner>
    </div>    
    
    
    <div *ngIf="!loading">
        
        
        <div class="stats__report">
            
            <p>Download a report summarizing your organisations results</p>
            <a mat-flat-button color="primary" class="stats__report__download" [href]="report.download" target="_blank" [disabled]="reportLoading">
                Download
            </a>                
            
        </div>
        
        
        
        
        
        
        <div class="stats__totals">
            
            
            <h1>{{stats.submissions}} total submissions, {{stats.answers}} questions answered.</h1>

            
        </div>
        
        
        <div class="stats__pie-graph">
            
            <div class="stats__pie-graph__graph">
                
                <h3>Submissions</h3>
                
                <div class="stats__pie-graph__graph__chart" [chart]="submissionsPieChart"></div>  
                
            </div>
            
            <div class="stats__pie-graph__graph">
                
                <h3>Roles</h3>
                
                <div class="stats__pie-graph__graph__chart" [chart]="rolesPieChart"></div>  
                
            </div>            
            
        </div>
        
        
        
        
        
        <div class="stats__line-graph">
            <h3>Submissions</h3>
            <div class="stats__graph__chart" [chart]="submissionsChart"></div>            
        </div>
        
        
        
        <div class="stats__polar-graph">
            <h3>Polar</h3>
            
            <div class="stats__graph__chart" [chart]="polarChart"></div>  
            
        </div>
        
        


        <div class="stats__averages-graph">
            <h3>Averages</h3>
            
            <div class="stats__graph__chart" [chart]="averagesChart"></div>  
            
        </div>



        
        
    </div>
    
 
</div>