.stats{

    max-width:800px;
        margin:0 auto;  
    margin-top:70px;
    margin-bottom:80px; 
    color:#2e476b;   
    
    h3{
        text-align:Center;
    }
    
    .stats__loading{
        padding: 30px 30px;
        mat-spinner{
            margin: 0 auto;
        }
    }
    
    
    .stats__report{
        background-color:white;
        border-radius:5px;
        box-shadow: rgba(0,0,0,.05) 0 0 10px;
        padding:30px 60px;   
            text-align: center;
        
            
            p{
                margin:0px;
                margin-bottom:15px;
            }
    }
    
    
    .stats__totals{
            margin-top: 60px;
        margin-bottom: 60px;
        text-align: Center;
    }
    
    .stats__pie-graph{
        
        .stats__pie-graph__graph{
            width:50%;
            display:inline-block;
            text-align: center;
        }
        
        
    }
    
    .stats__line-graph, .stats__polar-graph, .stats__averages-graph{
        
        margin-top:60px;
        
    }
    

    
}


