<div class="dialog-title">
    <h2 mat-dialog-title>Add Question</h2>
    <mat-icon (click)="dismiss()">close</mat-icon>
</div>

<mat-dialog-content class="add-question">


    
    <mat-form-field>
        <textarea matInput placeholder="Question *" [(ngModel)]="field.question" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Field Type *</mat-label>
        <mat-select [(ngModel)]="field.type">
            <mat-option *ngFor="let type of fieldTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>      
    
   
    <mat-form-field>
        <mat-label>Group *</mat-label>
        <mat-select [(ngModel)]="field.field_group_id">
            <mat-option *ngFor="let group of fieldGroups" [value]="group.id">{{group.name}}</mat-option>
            <mat-option value="create">Create New</mat-option>
        </mat-select>
    </mat-form-field>  
    
    <mat-form-field *ngIf="field.field_group_id === 'create'">
        <input matInput type="text" placeholder="New Group" [(ngModel)]="field.new_group">
    </mat-form-field>      
    
    <mat-form-field>
        <input matInput type="text" placeholder="Anchor" [(ngModel)]="field.anchor">
    </mat-form-field>     
    

    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="field.description" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
    </mat-form-field>  
    
    
    <mat-accordion displayMode="flat" expanded="false" multi class="add-question__options" *ngIf="field.type !== 'Free Text'">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Modify Options
                </mat-panel-title>
            </mat-expansion-panel-header>   
            
            <mat-form-field *ngFor="let option of options;let i = index">
                <input matInput type="text" placeholder="Option {{i + 1}}" [(ngModel)]="options[i]">
            </mat-form-field>              
            
            
        </mat-expansion-panel>

    </mat-accordion> 
 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="add()" color="primary">Add</button>
</mat-dialog-actions>