
<div class="dialog-title">
    <h2 mat-dialog-title>{{title}}</h2>
    <mat-icon (click)="dismiss()">close</mat-icon>
</div>

<mat-dialog-content class="confirm">
    <p>{{content}}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="confirm()" color="primary">Yes</button>
</mat-dialog-actions>