@import '../../../theme.scss';

$primary: map-get($theme, primary);

.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:0px;
        right:0px;
    }
}
