<div class="questions">
    
    
    <div class="questions__loading" *ngIf="loading">
        <mat-spinner class='questions__loading__spinner' diameter="40" mode="indeterminate" color="primary"></mat-spinner>
    </div>    
    
    
    <div *ngIf="!loading">
        
        <div class="questions__role" *ngFor="let role of roles">

            <mat-list cdkDropList (cdkDropListDropped)="dropQuestion($event, role.id)" class="questions__role__question-list">

                <h3 matSubheader (click)="role.hide = !role.hide">
                    <mat-icon>
                        <span *ngIf="role.hide">keyboard_arrow_down</span>
                        <span *ngIf="!role.hide">keyboard_arrow_up</span>
                    </mat-icon>
                    {{role.name}} 
                    <span *ngIf="questions[role.id]">&nbsp;({{questions[role.id].length}} questions)</span>
                </h3>

                <div  *ngIf="!role.hide">
                    <mat-list-item cdkDrag *ngFor="let question of questions[role.id];let i = index" class="questions__role__question-list__question">
                        <mat-icon matListIcon cdkDragHandle>open_with</mat-icon>
                        <h4 matLine>{{question.question}}</h4>
                        <p matLine><span *ngIf="question.field_group">{{question.field_group.name}}</span> <span *ngIf="question.anchor"><em> - {{question.anchor}}</em></span></p>
                        <a mat-button (click)="editQuestion(question, role.id, i)">Edit</a>
                        <a mat-button color="warn" (click)="deleteQuestion(question,role.id,i)">Delete</a>
                        <mat-divider></mat-divider>
                    </mat-list-item>          
                </div>


            </mat-list>    

            <a mat-flat-button color="primary" class="questions__role__add-question" (click)="addQuestion(role.id)" *ngIf="!role.hide">
                <mat-icon>add</mat-icon> Add Question
            </a>           

            <mat-divider *ngIf="role.hide"></mat-divider>
        </div>
        
    </div>
    
 
</div>


