.questions{
    background-color:white;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.05) 0 0 10px;
    padding:30px 60px;
    margin:0 auto;  
    margin-top:70px;
    margin-bottom:80px;
    max-width:600px;
    color:#2e476b;   
    
    .questions__loading{
        padding: 30px 30px;
        mat-spinner{
            margin: 0 auto;
        }
    }
    
    
    .questions__role{
        
        margin-bottom:30px;
        
        h3.mat-subheader{
            text-transform: capitalize;
            cursor:pointer;
        }
    
        .questions__role__question-list{
            margin-bottom:20px;
        }
    
    }
    
    
}


.questions__role__question-list__question{
    position:relative;
    background-color:#FFFFFF;
    display: block;
    height: 72px;
    width: 100%;
    padding: 0;    
    
    &.cdk-drag-preview{
        border-radius:4px;
    }
    
    .mat-list-item-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding: 0 16px;
        position: relative;
        height: inherit;        
    }
    
    .mat-list-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;  
        padding-right: 0;
        padding-left: 16px;    
        
        .mat-line{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            box-sizing: border-box;            
        }
        
        h4{
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: inherit; 
                font-size: 16px;
        }
        
        p{
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: inherit;    
            font-size: 14px;
        }
        
    }
    
    
    .mat-icon{
        cursor:grab;  
      
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        font-size: 24px;
        box-sizing: content-box;
        border-radius: 50%;
        padding: 4px;      
    }


}






/* drag and drop styles */

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
