.settings{
    background-color:white;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.05) 0 0 10px;
    padding:30px 60px;
    margin:0 auto;  
    margin-top:70px;
    margin-bottom:80px;
    max-width:400px;
    color:#2e476b;   
    
    .settings__loading{
        padding: 30px 30px;
        mat-spinner{
            margin: 0 auto;
        }
    }
    
    
    mat-form-field{
        width:100%;
    }
    
    .settings__fields__field-groups{
        display:none;
    }
    
    .settings__fields__field-groups__field-group{
        display:flex;
            align-items: center;
            
            mat-icon{
                margin-left:15px;
            }
    }
    
    
    
    
}