<div class="settings">
    
    
    <div class="settings__loading" *ngIf="loading">
        <mat-spinner class='settings__loading__spinner' diameter="40" mode="indeterminate" color="primary"></mat-spinner>
    </div>    
    
    
    <div class="settings__fields" *ngIf="!loading">
        
        
        <div class="settings__fields__field">
            <mat-form-field>
                <input matInput name="website_name" placeholder="Website Name" [(ngModel)]="settings.website_name" (ngModelChange)="updateSetting('website_name')">
            </mat-form-field>            
        </div>     
        
        <div class="settings__fields__field">
            <mat-form-field>
                <mat-label>Website Status</mat-label>
                <mat-select  [(ngModel)]="settings.website_status" (ngModelChange)="updateSetting('website_status')">
                  <mat-option value="Offline">Offline</mat-option>
                  <mat-option value="Online">Online</mat-option>
                </mat-select>
            </mat-form-field>     
        </div>           
        
        <div class="settings__fields__field">
            <mat-form-field>
                <mat-label>Start Fields</mat-label>
                <mat-select multiple  [(ngModel)]="settings.start_fields" (ngModelChange)="updateSetting('start_fields')">
                  <mat-option value="first_name" checked>First Name</mat-option>
                  <mat-option value="last_name">Last Name</mat-option>
                  <mat-option value="email">Email</mat-option>
                  <mat-option value="group_type">Group Type</mat-option>
                  <mat-option value="group">Group</mat-option>
                  <mat-option value="postcode">Post Code</mat-option>
                  <mat-option value="position">Position</mat-option>
                  <mat-option value="is_peak">Is Peak</mat-option>
                </mat-select>
            </mat-form-field>     
        </div>          
        
        <div class="settings__fields__field settings__fields__field-groups">
            <h3>Field Groups</h3>
            
            <div class="settings__fields__field settings__fields__field-groups__field-group field-group">
                <mat-form-field>
                    <input matInput name="group_1" placeholder="Group 1" value="Sustainability">
                </mat-form-field>     
                <mat-icon>delete</mat-icon> 
            </div>
            
            <div class="settings__fields__field settings__fields__field-groups__field-group field-group">
                <mat-form-field>
                    <input matInput name="group_1" placeholder="Group 1" value="Satisfaction">
                </mat-form-field>     
                <mat-icon>delete</mat-icon> 
            </div>            
            
            <div class="settings__fields__field settings__fields__field-groups__field-group field-group">
                <mat-form-field>
                    <input matInput name="group_1" placeholder="Group 1" value="Satefy">
                </mat-form-field>     
                <mat-icon>delete</mat-icon> 
            </div>

            
            <a mat-flat-button color="primary" class="submissions_actions__action">
                Add new group
            </a>              
            
            
        </div>           
        
    </div>
    
    
</div>