<div class="dialog-title">
    <h2 mat-dialog-title>Submission #{{submission.id}}</h2>
    <mat-icon (click)="dismiss()">close</mat-icon>
</div>

<mat-dialog-content class="submission">

    <mat-list>
        <mat-list-item class="submission__answer" *ngFor="let answer of submission.answers">
            <h3 matLine *ngIf="answer.field"> {{answer.field.question}} </h3>
            <p matLine *ngIf="answer.field_group">
                {{answer.field_group.name}}
            </p>
            <div *ngIf="answer.answer" class="submission__answer__number" [ngClass]="{'submission__answer__number--green' : answer.answer > 2, 'submission__answer__number--red' : answer.answer < 3}">
                {{answer.answer}} 
                <span>({{answer.average}} is the average)</span>
            </div>
        </mat-list-item>
    </mat-list>
 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>