.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:0px;
        right:0px;
    }
}

.submission__answer__number{
    
    font-weight:bold;
    white-space: nowrap;
    
    &.submission__answer__number--red{
        color: red;
    }
    
    &.submission__answer__number--green{
        color: green;
    }
    
    span{
        color:black;
        font-size:10px;
        white-space: nowrap;
    }
    
    
}