<mat-toolbar class="admin-toolbar">  
    <a mat-button class="admin-toolbar__action" [routerLink]="['/admin/questions']">
        <mat-icon>list</mat-icon> Questions
    </a> 
    <a mat-button class="admin-toolbar__action" [routerLink]="['/admin/stats']">
        <mat-icon>pie_chart</mat-icon> Statistics
    </a>  
    <a mat-button class="admin-toolbar__action" [routerLink]="['/admin/submissions']">
        <mat-icon>fact_check</mat-icon> Submissions
    </a>  
    <a mat-button class="admin-toolbar__action" [routerLink]="['/admin/users']">
        <mat-icon>people</mat-icon> Users
    </a>  
    <a mat-button class="admin-toolbar__action" [routerLink]="['/admin/settings']">
        <mat-icon>settings</mat-icon> Settings
    </a> 
    <a mat-button class="admin-toolbar__action" (click)="logout()">
        <mat-icon>lock</mat-icon> Logout
    </a>  
</mat-toolbar>

<router-outlet></router-outlet>
