.start{
    max-width:800px;
    margin:0 auto;
    padding-top:40px;
    padding-bottom:40px;
    
    h2{
        color:#2e476b;
        padding:5px 10px;
    }
    
    .start__form{
        background-color:white;
        border-radius:5px;
        box-shadow: rgba(0,0,0,.05) 0 0 10px;
        padding:20px 60px;
        margin-top:30px;
        .start__form__fields{
            mat-form-field{
                width:calc(50% - 20px);
                margin-right:20px;
                padding:10px 0px;
                
                &.start__form__fields__full-width{
                    width: calc(100% - 20px);
                }

            }
            
            mat-radio-group{
                margin-left: 30px;
                
                mat-radio-button{
                    margin-right: 20px;
                }
            }
            
                            
                .start__form__fields__full-width--group-type{
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
            
        }
        
        .start__form__groups{
            display:flex;
            margin-top:20px;
            margin-bottom:45px;
            .start__form__group{
                display:inline-block;
                flex:1;
                text-align:center;
                border:1px solid rgba(46, 71, 107, 0.2);
                border-radius:5px;
                margin:0px 5px;
                cursor:pointer;
                opacity:0.4;
                padding:40px 10px;
                transition: opacity .2s cubic-bezier(.35,0,.25,1);
                &:first-child{
                    margin-left:0px;
                }
                
                h6{
                    color: #2e476b;
                    margin: 0px;
                    font-size: 16px;
                    margin-top: 10px;
                }
                mat-icon{
                    color: #2e476b;
                    font-size: 50px;
                        width: 50px;
                        height: 50px;
                }
                
                
                &:hover, &.start__form__group--active{
                    opacity:1;
                    border:1px solid rgba(46, 71, 107, 1);
                }              
            }
        }
        
        .start__form__checkbox{
            mat-checkbox{
                display:block;
            }
            mat-form-field{
                margin-top:10px;
                width: calc(100% - 20px);
            }
            
            .mat-checkbox-label{
                white-space: normal;
    line-height: 20px;
            }
            
            &.start__form__checkbox--agree{
                    margin-top: 30px;
            }
        }
        
        .start__form__actions{
            margin-top:40px;
            margin-bottom:20px;
            text-align:right;
            
            button{
                font-size:16px;
                line-height:40px;
                
                mat-spinner{
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
        
    }
    
    .errors{
        color:red;
    }
}

@media screen and (max-width:480px){
    
    .start{
        
        h2{
            padding-left:15px;
            padding-right:15px;
            line-height: 24px;
        }

        .start__form{
            margin-left:5px;
            margin-right:5px;
            padding: 20px 30px;
            
            .start__form__fields{
                mat-form-field{
                    width:100%;
                    margin:0px;
                }
            }
            
            .start__form__checkbox{
                .mat-checkbox-layout{
                    white-space:normal;
                }
                
                mat-form-field{
                    width:100%;
                    margin:0px;
                    
                }
                
            }
            
            
            .start__form__actions{
                text-align: center;
            }
            
        }
        
    }
  
}