<div class="start">
    
    <h2>Before you begin, let us know a bit about you. </h2>
    
    <form class="start__form" #form="ngForm" (ngSubmit)="start(form.value)" name="startform">
        
      
        
        
        <div class="start__form__fields">
            
            <mat-form-field *ngIf="fieldsEnabled.indexOf('first_name') > -1">
                <input matInput name="first_name" placeholder="First Name" [(ngModel)]="user.first_name" required>
            </mat-form-field>
            
            <mat-form-field *ngIf="fieldsEnabled.indexOf('last_name') > -1">
                <input matInput name="last_name" placeholder="Last Name" [(ngModel)]="user.last_name" required> 
            </mat-form-field>            
            
            <mat-form-field class="start__form__fields__full-width" *ngIf="fieldsEnabled.indexOf('email') > -1">
                <input matInput name="email" placeholder="Email" [(ngModel)]="user.email" required> 
            </mat-form-field>  
            
            <div class="start__form__fields__full-width start__form__fields__full-width--group-type"  *ngIf="fieldsEnabled.indexOf('group_type') > -1">
                <label>I am part of a:</label>
                <mat-radio-group [(ngModel)]="user.group_type" name="group_type">
                    <mat-radio-button value="group">Group</mat-radio-button>
                    <mat-radio-button value="club">Club</mat-radio-button>
                    <mat-radio-button value="organisation">Organisation</mat-radio-button>
                </mat-radio-group>    
            </div>

            
            <mat-form-field  *ngIf="fieldsEnabled.indexOf('group') > -1">
                <input matInput name="group" placeholder="{{user.group_type | titlecase}}" [(ngModel)]="user.group" required>
            </mat-form-field>  
            
            
            <mat-form-field  *ngIf="fieldsEnabled.indexOf('postcode') > -1">
                <input matInput name="postcode" placeholder="Post Code" [(ngModel)]="user.postcode" required>
            </mat-form-field>             
            
            
            <mat-form-field class="start__form__fields__full-width"  *ngIf="fieldsEnabled.indexOf('position') > -1">
                <input matInput name="position" placeholder="Your position in this {{user.group_type}}" [(ngModel)]="user.position"> 
            </mat-form-field>             
        </div> 
        
        
        <div class="start__form__groups">
                
            <div class="start__form__group" 
                 [ngClass]="{'start__form__group--active': user.role_id === 2}"
                 (click)="changeRole(2)">
                <mat-icon>emoji_people</mat-icon>
                <h6>I volunteer with this {{user.group_type}}</h6>
            </div>
            
            <div class="start__form__group" 
                 [ngClass]="{'start__form__group--active': user.role_id === 1}"
                 (click)="changeRole(1)"
                 matTooltip="This can refer to your role as the CEO, president, secretary, or volunteer manager. Your role should influence the strategic direction or volunteer involvement of your {{user.group_type}}.">
                <mat-icon>people_alt</mat-icon>
                <h6>I lead this {{user.group_type}}</h6>
            </div>            
        </div>          
        
        
        <div class="start__form__checkbox"   *ngIf="fieldsEnabled.indexOf('is_peak') > -1">
            <mat-checkbox name="is_peak" [(ngModel)]="user.is_peak">Is your group associated with a peak or parent body association such as Netball Australia, Rotary International, or Parks Victoria who might take care of some of your insurance or governance?</mat-checkbox>
            <mat-form-field *ngIf="user.is_peak">
                <input matInput name="peak_details" placeholder="Please specify" [(ngModel)]="user.peak_details">
            </mat-form-field>               
        </div>
        
        
        <div class="start__form__checkbox start__form__checkbox--agree">
            <mat-checkbox name="agree" required [(ngModel)]="user.agree">By using VolPoll, you agree to the collection and use of information in accordance with the Australian Privacy Laws. Your answers will remain anonymous *</mat-checkbox>           
        </div>        
        
        
        <div class="start__form__actions">
            <button mat-flat-button color="primary" type="submit" [disabled]="loading">
                Get Started
                <mat-icon *ngIf="!loading">keyboard_arrow_right</mat-icon>
                <mat-spinner class='submit-button__spinner' diameter="14" mode="indeterminate" color="primary" *ngIf="loading"></mat-spinner>
            </button>
            
            <p class="errors" *ngIf="errors.length > 0">
                <span *ngFor="let error of errors">{{error}}</span>
            </p>               
            
        </div>
        
      

        
    </form>

    
</div>
