<div class="end">
    
    <img src='assets/completed.gif' />
    
    <div class='end__card'>
        <h1>Well done!</h1>
        <h3>Your survey is complete</h3>

        <p>Your report has been emailed to you. Alternatively you can click the download button below to view your report.</p>


        <a mat-flat-button color="primary" class="end__report-download" [href]="report.download" target="_blank" [disabled]="loading">
            <mat-icon *ngIf="!loading">cloud_download</mat-icon>
            <span *ngIf="!loading">Download Report</span>
            <span *ngIf="loading">Generating Report...</span>
        </a>  
        
        <a class="end__report-share" (click)="share()">Share VolPoll</a>
    </div>

</div>

<iframe id="report-html" [srcdoc]="sanitizeHtml(reportHtml)"></iframe>



