#report-html{
    width:1px;
    height:1px;
    border:none;
    opacity:0;
}

.end{
    
    text-align:center;
    padding-top:80px;
    padding-bottom:80px;
    
    img{
        width:100px;
    }
    
    .end__card{
        
        max-width:500px;
        margin:0 auto;
        color:#2e476b;
        padding: 40px 15px;
        
        h1{
            font-size:40px;
                line-height: 42px;
            
        }   
        
        h3{
            font-size:26px;
            line-height: 28px;
        }
        
        p{
            opacity:1;
        }
        
        a.end__report-download{
            margin-top:40px;
            mat-icon{
                margin-right:5px;
            }
        }
        
        a.end__report-share{
            margin-top:30px;
            display:block;
            color:#cc2d43;
            text-decoration:underline;
            cursor:pointer;
        }
    }
    
    
}


@media screen and (max-width:480px){
    
    .end{
        padding-bottom: 10px;
        .end__card{
                padding: 20px 30px;
        }
        
        a.end__report-download{
            margin-top: 20px;
        }
        
    }
}