<form #form="ngForm" (ngSubmit)="login(form.value)" class="login">

    <mat-form-field>
      <input matInput placeholder="Email" type="email" name="email" ngModel>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" ngModel>
    </mat-form-field>


    <p class="errors" *ngIf="errors.length > 0">
        <span *ngFor="let error of errors">{{error}}</span>
    </p>            


    <div class="login-form__actions">
        <button mat-flat-button color="primary" [disabled]="loading">
            Login
            <mat-spinner class='button-spinner' diameter="14" mode="indeterminate" color="primary" *ngIf="loading"></mat-spinner>
        </button>      
    </div>
           


</form>  
