.login{
    background-color:white;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.05) 0 0 10px;
    padding:30px 60px;
    margin:0 auto;  
    margin-top:70px;
    margin-bottom:80px;
    max-width:400px;
    color:#2e476b; 
    
    mat-form-field{
        display:block;
        width:100%;
        margin-bottom:10px;
    }
    
    button{
        margin-top:10px;
        mat-spinner{
            display:inline-block;
            margin-left:5px;
        }
    }
    
    .errors{
        color:red;
    }
}