<div class="submissions">
    
    
    <div class="submissions__loading" *ngIf="loading">
        <mat-spinner class='submissions__loading__spinner' diameter="40" mode="indeterminate" color="primary"></mat-spinner>
    </div>    
    
    
    <div *ngIf="!loading">
        
        
        <div class="submissions_actions">
            <a mat-flat-button color="primary" class="submissions_actions__action" (click)="createUser()">
                Add User
            </a>              
        </div>
        
        
        <div class="submissions__search">
            <mat-form-field>
                <input matInput name="search" placeholder="Search" [(ngModel)]="search" (ngModelChange)="doSearch()">
            </mat-form-field>            
        </div>
        
        
        
        <mat-list class="submissions__submissions-list">


            <mat-list-item *ngFor="let user of users" class="submissions__submissions-list__submission">
                <h4 matLine>
                    {{user.email}}
                    <span>Created {{formatDate(user.created_at)}}</span>                        
                </h4>
                <p matLine>{{user.permission}}</p>
                <a mat-button color="warn" (click)="deleteUser(user)">Delete</a>
            </mat-list-item>            
            
        </mat-list>            
        
        
        
        
        
    </div>
    
    
    
</div>