.main-toolbar{
    .main-toolbar__logo{
        height: 54px;
        width: 140px;  
        cursor:pointer;
        
        &:focus{
            outline: none;
            border: 0;
        }
        
        img{
            width:100%;
        }
        
    }
    
    
    .main-toolbar__spacer{
        flex: 1 1 auto;        
    }
}

.main-website-status{
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #cc2d43;
}

.main-loading{
    padding: 120px 30px;
    mat-spinner{
        margin: 0 auto;
    }
}

.main-progress-bar{
    width: 200px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;  
    .main-progress-bar__container{
        border: 1px solid rgba(46, 71, 107, 0.4);
        width:100%;
        height:8px;
        border-radius:50px;
        overflow:hidden;
        
    }
    
    .main-progress-bar__container__fill{
        width:0px;
        transition:width .2s cubic-bezier(.35,0,.25,1);  
        height:100%;
        background-color:#2e476b;
    }
}


.main-footer{
    margin-top:30px;
    margin-bottom:20px;
    text-align:center;
    opacity:0.1;
    p{
        margin:0px;
    }
    img{
        width:200px;
    }
}


@media screen and (max-width:480px){
    .main-toolbar{
        .main-toolbar__logo{
            height: 46px;
            width: 120px;
        }
    }
}