.submissions{
    background-color:white;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.05) 0 0 10px;
    padding:30px 60px;
    margin:0 auto;  
    margin-top:70px;
    margin-bottom:80px;
    max-width:600px;
    color:#2e476b;   
    
    .submissions__loading{
        padding: 30px 30px;
        mat-spinner{
            margin: 0 auto;
        }
    }
    
    
    .submissions_actions{
        
        a{
            margin-right:10px;
        }
        
    }
    
    
    .submissions__search{
        
            margin-top: 30px;
            margin-bottom: 10px;
        mat-form-field{
            width: 100%;
        }
        
    }
    
    
    
    .submissions__submissions-list{
        
        
        .submissions__submissions-list__submission{
            
            h4{
                a{
                    text-decoration:none;
                    color:#cc2d43;
                }

                span{
                    opacity:0.5;
                    margin-left:10px;
                    font-size: 14px;
                }
            
            }
            
            p span{
                text-transform:capitalize;
            }
        }
        
    }
    
    .submissions__load-more{
        text-align:center;
            margin-top: 30px;
        button{
            cursor:pointer;
        
            mat-spinner{
            display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
        
        
    }
    
    
    
}