<div class="submissions">
    
    
    <div class="submissions__loading" *ngIf="loading">
        <mat-spinner class='submissions__loading__spinner' diameter="40" mode="indeterminate" color="primary"></mat-spinner>
    </div>    
    
    
    <div *ngIf="!loading">
        
        
        <div class="submissions_actions">
            <a mat-flat-button color="primary" class="submissions_actions__action" (click)="exportSubmissions()">
                Export Submissions
            </a>    
            <a mat-flat-button color="primary" class="submissions_actions__action" (click)="exportAnswers()">
                Export Answers
            </a>        
            <a mat-flat-button color="primary" class="submissions_actions__action" (click)="exportAverages()">
                Export Aaverages
            </a>           
        </div>
        
        
        <div class="submissions__search">
            <mat-form-field>
                <input matInput name="search" placeholder="Search" [(ngModel)]="search" (ngModelChange)="doSearch()">
            </mat-form-field>            
        </div>
        
        
        
        <mat-list class="submissions__submissions-list">


            <mat-list-item class="submissions__submissions-list__submission" *ngFor="let submission of submissions.data; let i = index">
                <h4 matLine>
                    <a [href]="'mailto:' + submission.email">{{submission.first_name}} {{submission.last_name}}</a>
                    <span>Submitted {{formatDate(submission.created_at)}}</span>                        
                </h4>
                <p matLine><span *ngIf="submission.role">{{submission.role.name}}</span> at <strong>{{submission.group}}</strong></p>
                <a mat-button (click)="exportSubmission(submission)">Export</a>
                <a mat-button (click)="viewSubmission(submission)">View</a>
                <a mat-button color="warn" (click)="deleteSubmission(submission, i)">Delete</a>
                <mat-divider></mat-divider>
            </mat-list-item>           
            
        </mat-list>            
        
        <div  class='submissions__load-more'>
            <button mat-button *ngIf="submissions.count > 50 && submissions.count > page*50" (click)="loadNextPage()" [disabled]="loadingMore">
                Load more <span *ngIf="!loadingMore">(+{{submissions.count - page*50}})</span>
                <mat-spinner class='submissions__load-more__spinner' diameter="15" mode="indeterminate" color="primary" *ngIf="loadingMore"></mat-spinner>
            </button>
              
        </div>
        
        
    </div>
    
    
    
</div>