<div class="question" id="question">
    
    
    <div class="question__loading" *ngIf="loading">
        <mat-spinner class='question__loading__spinner' diameter="40" mode="indeterminate" color="primary"></mat-spinner>
    </div>    
    
    <div *ngIf="!loading">
        <h6 *ngIf="question.field_group">{{question.field_group.name}}</h6>

        <h2>{{filterGroupType(question.question)}}</h2>

        <p *ngIf="question.description">{{filterGroupType(question.description)}}</p>

        <div class="question__answers" *ngIf="question.type === 'Select' || question.type === 'Select + Free Text'">

            <div class="question__asnwers__answer answer" 
                 *ngFor="let option of options;let i = index"
                 [ngClass]="{'answer--active': answer.answer === (i + 1)}"
                 (click)="selectAnswer(i)">
                <a class="answer__number">{{i + 1}}</a>
                <p class="answer__text">{{option}}</p>
            </div>

        </div>

        <div class="question__free-text" *ngIf="question.type === 'freetext'">
            <mat-form-field>
                <input matInput name="text_answer" placeholder="Enter Details" [(ngModel)]="answer.text_answer">
            </mat-form-field>            
        </div>    


        <div class="question__actions">
                <button mat-stroked-button color="primary" class="questions__actions__previous" 
                        *ngIf="question.field_order !== 1"
                        (click)="previous()">
                    <mat-icon>keyboard_arrow_left</mat-icon> Previous 
                </button>  


                <button mat-flat-button color="primary" class="questions__actions__next" (click)="next()">
                    <span 
                        *ngIf="
                            answer.answer || 
                            !(question.type === 'Select' || question.type === 'Select + Free Text')">
                        Next
                    </span>
                    <span 
                        *ngIf="
                            !answer.answer && 
                            (question.type === 'Select' || question.type === 'Select + Free Text')">
                        Skip
                    </span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>        
        </div>
    
    </div>
    
</div>
