.question{
    background-color:white;
    border-radius:5px;
    box-shadow: rgba(0,0,0,.05) 0 0 10px;
    padding:20px 60px;
    margin:0 auto;  
    margin-top:70px;
    margin-bottom:40px;
    max-width:600px;
    color:#2e476b;
    position:relative;
    left:0px;
    opacity:1;
    transition:left .2s cubic-bezier(.35,0,.25,1), opacity .2s cubic-bezier(.35,0,.25,1);
    
    .question__loading{
        padding: 30px 30px;
        mat-spinner{
            margin: 0 auto;
        }
    }    
    
    h6{
        font-size: 16px;
        font-weight: 500;
        opacity: 0.8;
        margin: 30px 0px;        
    }
    
    h2{
        line-height: 28px;
    }
    
    p{
        font-size:15px;
        opacity:1;
    }
    
    .question__answers{
        white-space:nowrap;
        display:flex;
        margin-top:50px;
        .answer{
            text-align:center;
            display:inline-block;
            flex:1;
            cursor:pointer;
            .answer__number{
                width: 50px;
                height: 50px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
                border: 1px solid rgba(46, 71, 107, 0.2);
                border-radius: 26px;  
                transition:transform .2s cubic-bezier(.35,0,.25,1);       
                

            }
            
            &.answer--active .answer__number{
                border: 1px solid #cc2d43;
                background-color: #cc2d43;
                color:white;
            }            
            
            &:hover .answer__number{
                transform:scale(1.1);
            }
            
            .answer__text{
                font-size:14px;
            }
        }
    }
    
    .question__free-text{
        
    }
    
    .question__actions{
        text-align:center;
        margin-top:50px;
        margin-bottom:20px;        
        button{
            margin: 0 10px;
            width: 120px;
        }
    }
       
}


@media screen and (max-width:480px){
    
    .question{
        margin-left:5px;
        margin-right:5px;
        padding: 20px 30px;  


        h6{
            margin: 10px 0px;
        }  
        
        .question__answers{
            display:block;
            white-space:normal;
            margin-top: 20px;
            .answer{
                display:inline-block;
                width: 50%;
                margin-top:10px;
            }
        }
        
        .question__actions{
            margin-top:30px;
        }
    }
}