.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:0px;
        right:0px;
    }
}


.edit-question{

    
    mat-form-field{
        width:100%;
    }
    
    .edit-question__options{
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        
        mat-expansion-panel{
            box-shadow: none;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        
        .mat-expansion-indicator{
            height: 8px;
            margin-top: -3px;
            &:after{
                vertical-align: top;
            }
        }
        
        div.mat-expansion-panel-content {
            height: 0px;
        }    
        
        mat-expansion-panel.mat-expanded{
            div.mat-expansion-panel-content {
                height: auto;
            }            
        }        
        
        
        
    }
    
}