<div class="dialog-title">
    <h2 mat-dialog-title>Edit Details</h2>
    <mat-icon (click)="dismiss()">close</mat-icon>
</div>

<mat-dialog-content class="edit-user-details">

    
    <mat-form-field>
        <input matInput name="email" placeholder="Email" [(ngModel)]="user.email" required> 
    </mat-form-field>      

 
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="save()" color="primary">Add</button>
</mat-dialog-actions>