.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:0px;
        right:0px;
    }
}


.edit-user-details{

    
    mat-form-field{
        width:100%;
    }
    
}