@import '~@ngx-share/button/themes/default/default-theme';

.dialog-title{
    position:relative;
    mat-icon{
        cursor:pointer;
        position:absolute;
        top:0px;
        right:0px;
    }
}


.share{
    
    .share__share-buttons{
        margin-bottom: 10px;
            p{
                margin: 0px;
                margin-bottom: 10px;
            }
    }
    
    
}