
<div class="dialog-title">
    <h2 mat-dialog-title>Spread The Word</h2>
    <mat-icon (click)="dismiss()">close</mat-icon>
</div>

<mat-dialog-content class="share">
   
    
    <div class="share__share-buttons">
        <p>Share via:</p>
        <share-buttons 
            [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
            [url]="link"
            [title]="title"
            [description]="description">
        </share-buttons>
    </div>
    
    
    
    
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>