/* You can add global styles to this file, and also import other style files */




@import "src/theme.scss";

body, html{
    height: 100%;  
    background-color:#eee;
  
}

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-family: 'Montserrat', Roboto, "Helvetica Neue", sans-serif;
    margin: 0; 
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab{
    font-family: 'Montserrat', Roboto, "Helvetica Neue", sans-serif;
    border-radius: 100px !important;
}

.mat-form-field, .mat-checkbox{
    font-family: 'Montserrat', Roboto, "Helvetica Neue", sans-serif;
}
