@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-color: (
    50: #ffffff,
    100: #cc2d43,
    200: #cc2d43,
    300: #cc2d43,
    400: #cc2d43,
    500: #cc2d43,
    600: #cc2d43,
    700: #cc2d43,
    800: #cc2d43,
    900: #cc2d43,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);


$custom-color2: (
    50: #ffffff,
    100: #2e476b,
    200: #2e476b,
    300: #2e476b,
    400: #2e476b,
    500: #2e476b,
    600: #2e476b,
    700: #2e476b,
    800: #2e476b,
    900: #2e476b,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);


$primary: mat-palette($custom-color);
$accent:  mat-palette($custom-color2);
$warn:    mat-palette($mat-red);


$theme: mat-light-theme($primary, $accent, $warn);


@include angular-material-theme($theme);


